.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 20px;
}

.signup-form {
  background: #fff;
  padding: 40px;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.signup-form h2 {
  text-align: center;
  background-color: #458ba2;
  border-radius: 30px;
  font-size: 1.5rem;
  color: white;
  padding: 5px;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0px 2px 3px rgb(161, 161, 161);

}

.signup-form input {
  box-shadow: 1px 1px 1px rgb(161, 161, 161);

  margin-bottom: 15px;
  padding: 10px;
  width: 90%;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 10px;
}

.signup-container .button {
  padding: 10px 10px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 60%;
}

.button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 10px;
}

p {
  margin-top: 10px;
  font-size: 1rem;
}

span {
  color: #007bff;
  text-decoration: none;
}

span:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .signup-form {
    padding: 30px;
  }

  .signup-form h2 {
    font-size: 1.5rem;
  }

  .button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .signup-form {
    padding: 20px;
  }

  .signup-form h2 {
    font-size: 1.3rem;
  }

  .button {
    padding: 6px 12px;
    font-size: 0.8rem;
  }
}
