.linktree-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
  min-height: 100vh;
}

.linktree-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
}

.linktree-container h2 {
  text-align: center;
  background-color: #458ba2;
  border-radius: 30px;
  font-size: 1.5rem;
  color: white;
  padding: 5px;
  width: 100%;
  max-width: 700px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 3px rgb(161, 161, 161);
}

.linktree-form input {
  margin: 10px;
  padding: 10px;
  width: 90%;
  border: 1px solid #ddd;
  border-radius: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 80%;
  max-width: 200px;
}

.button:hover {
  background-color: #0056b3;
}

.links-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.link-item {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.link-item a {
  color: #007bff;
  text-decoration: none;
}

.link-item a:hover {
  text-decoration: underline;
}

.delete-button {
  padding: 5px 10px;
  font-size: 0.9rem;
  color: #fff;
  background-color: #ff4d4d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #cc0000;
}

.logout-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #6c757d;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

.logout-button:hover {
  background-color: #c572a1;
}

/* Responsive design */
@media (max-width: 768px) {
  .linktree-form {
    padding: 15px;
  }

  .button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }

  .link-item {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .linktree-form {
    padding: 20px;
  }

  .button {
    padding: 6px 12px;
    font-size: 0.8rem;
  }

  .link-item {
    padding: 8px;
  }
}
